<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="From" value="" />
    <add key="To" value="" />
  </appSettings>
  <system.diagnostics>
    <trace>
      <listeners>
        <add name="Console Trace Listener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>